*{
	
}
.content{
	background-color: #DDDDDD;
	margin-top: 50px;
	height: 2000px;
}
.topbanner{
	height: 600px;
}
.toppic{
	height: 100%;
	width: 100%;

}
.sidebar{
	padding: 50px;
	color: black;
	height: 1000px;

}
.profilepic{
	width: 200px;
	height: 200px;
	border-radius: 5px;
	
	}
.profile{
	height: 100%;
	width: 100%;
	border-radius: 5px;
	
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.mainbar{

}
.info{
	color: black;
}