*{
	    font-family: 'Roboto Condensed', sans-serif;
}
.content{
	/*background-color: #DDDDDD;
*/background-color: #f2f2f2;

	margin-top: 50px;
	height: 2000px;
}
.topbanner{
	height: 600px;
}
.toppic{
	height: 100%;
	width: 100%;

}
.sidebar{
	padding: 50px;
	color: black;
	height: 1000px;


}
.profilepic{
	width: 200px;
	height: 200px;
	border-radius: 5px;
	
	}
.profile{
	height: 100%;
	width: 100%;
	border-radius: 5px;
	
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
.mainbar{

}
table,td{
	border: 1px solid black;
	padding: 5px;

}
td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
.menu{
	background-color: white;
}
.iconmenu{
	float: right;
	margin-right: 5px;}